- env = process.env;

include Layout/adminMenuBar.pug

body
    if result !== undefined
        each i in result
            article
                a(href=`${env.URL}/stores/${storeID}/admin/paidOrders/${i._id}`)
                    - createdTime = new Date(i.createdAt).toLocaleString();
                    - updatedTime = new Date(i.updatedAt).toLocaleString();
                    p 테이블 번호: #{i.tableNumber}
                    p 합계: #{i.sum}원
                    time 시작 시간: #{createdTime.slice(-18)}
                    time 완료 시간: #{updatedTime.slice(-18)}

