- env = process.env;

include Layout/adminMenuBar.pug

body
    a(href=`${env.URL}/stores/${storeID}/tableSelect`) 테이블 추가
    if result !== undefined
        each i in result
            article
                a(href=`${env.URL}/stores/${storeID}/tables/${i.tableNumber}`)
                    p 테이블 번호: #{i.tableNumber}
                    p 합계: #{i.sum}
                    p 테이블 시작 시간: #{i.createdAt}


