- env = process.env;

doctype html 
html(lang='ko')

head 
    title #{pageTitle}

body
    div
        article
            div
                h3 #{result.email}

                - createdPostTime = new Date(result.contents.createdAt).toLocaleString();
                if result.contents.createdAt == result.contents.updatedAt
                    time 작성: #{createdPostTime}
                else
                    - updatedPostTime = new Date(result.contents.updatedAt).toLocaleString();
                    time 작성: #{createdPostTime} 수정: #{updatedPostTime}

                if result.email == req.user.email
                    a(href=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/modifyPage') 수정
                    a(href=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/delete') 삭제

                h2 #{result.title}
                p #{result.contents.contents}
                ul 
                    if result.heart !== undefined
                        form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/hearts' method='POST')
                            button(type='submit' formmethod='POST') 좋아요! #{Object.keys(result.heart).length}
                    else
                        form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/hearts' method='POST')
                            button(type='submit' formmethod='POST') 좋아요! 0

                    if result.comments == null && result.recomments == null
                        li 댓글: 0
                    else if result.comments !== null && result.recomments == null
                        li 댓글: #{Object.keys(result.comments).length}
                    else if result.comments !== null && result.recomments !== null
                        li 댓글: #{Object.keys(result.comments).length + Object.keys(result.recomments).length}
        
        if result.comments !== null
            each c in result.comments
                article
                    div
                        if c.contents.isDeleted !== true
                            h3 #{c.email}

                            - createdCommentTime = new Date(c.contents.createdAt).toLocaleString();
                            if c.contents.createdAt == c.contents.updatedAt
                                time 작성: #{createdCommentTime}
                            else
                                - updatedCommentTime = new Date(c.contents.updatedAt).toLocaleString();
                                time 작성: #{createdCommentTime} 수정: #{updatedCommentTime}
                                
                            if c.email == req.user.email
                                a(href=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/modifyPage') 수정
                                a(href=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/delete') 삭제

                            h2 #{c.title}

                            p #{c.contents.contents}

                            ul 
                                if c.heart !== undefined
                                    form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/commentHearts' method='POST')
                                        button(type='submit' formmethod='POST') 좋아요! #{Object.keys(c.heart).length}
                                else
                                    form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/commentHearts' method='POST')
                                        button(type='submit' formmethod='POST') 좋아요! 0

                            form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/write' method="POST")
                                p
                                    input(placeholder="대댓글을 입력하세요.", name="recomment", type="text", required)
                        else 
                            p 댓글이 삭제되었습니다.

                if c.recomments !== null
                    each d in c.recomments
                        article
                            div
                                if d.contents.isDeleted !== true
                                    h3 #{d.email}

                                    - createdReCommentTime = new Date(d.contents.createdAt).toLocaleString();
                                    if d.contents.createdAt == d.contents.updatedAt
                                        time 작성: #{createdReCommentTime}
                                    else
                                        - updatedReCommentTime = new Date(d.contents.updatedAt).toLocaleString();
                                        time 작성: #{createdReCommentTime} 수정: #{updatedReCommentTime}
                                        
                                    if d.email == req.user.email
                                        a(href=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/recomments/'+d._id+'/modifyPage') 수정
                                        a(href=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/recomments/'+d._id+'/delete') 삭제

                                    h2 #{d.title}

                                    p #{d.contents.contents}

                                    ul 
                                        if d.heart !== undefined
                                            form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/recomments/'+d._id+'/reCommentHearts' method='POST')
                                                button(type='submit' formmethod='POST') 좋아요! #{Object.keys(d.heart).length}
                                        else
                                            form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/comments/'+c._id+'/recomments/'+d._id+'/reCommentHearts' method='POST')
                                                button(type='submit' formmethod='POST') 좋아요! 0
                                else 
                                    p 대댓글이 삭제되었습니다.

        form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/write' method="POST")
            p
                input(placeholder="댓글을 입력하세요.", name="comment", type="text", required)