- env = process.env;

doctype html 
html(lang='ko')

head 
    title #{pageTitle}

body
    if loginResult.result == 1
        div #{loginResult.userName}님 안녕하세요!
            a(href=env.URL+'/auth/logout') 로그아웃하기!
        
        ul
        each i in storeListsResult
            li
                a(href=env.URL+'/stores/'+i) #{i}

    else
        div 로그인이 필요합니다.
            li
                a(href=env.URL+'/auth/login/') 로그인!
            li
                a(href=env.URL+'/auth/signup/') 회원가입!