- env = process.env;

include Layout/boardMenuBar.pug

body
    h1
        div 저희는 건축대학 과동아리 3A입니다!
                //-     //주문
                //- if leaderInfo == undefined 
                //-     li
                //-         a(href=env.URL+`/stores/${storeID}/tableSelect`) 테이블 선택
                //- else 
                //-     li
                //-         a(href=env.URL+`/stores/${storeID}/tables/${leaderInfo}`) 주문하기