- env = process.env;

doctype html 
html(lang='ko')

head 
    title #{pageTitle}

body
    h1
        div #{storeID}
    header
        nav
            ul
                li
                    //자유게시판
                    a(href=env.URL+'/stores/'+storeID+'/freeBoards/pages/1') 자유게시판
                li
                    //신청곡
                    a(href=env.URL+'/stores/'+storeID+'/songRequests/pages/1') 신청곡

                //-     //주문
                //- if leaderInfo == undefined 
                //-     li
                //-         a(href=env.URL+`/stores/${storeID}/tableSelect`) 테이블 선택
                //- else 
                //-     li
                //-         a(href=env.URL+`/stores/${storeID}/tables/${leaderInfo}`) 주문하기